.settings{
    position: absolute;
    right: 1rem;
    left: 1rem;
    z-index: 10;
    background-color: white;
    font-weight: 400;
    font-size: 1.8rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem 0.1rem #ddd;
}

.nav{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-item{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    transition: background-color 1s;
}

.nav-item:hover, 
.nav-item:active{
    background-color: black;
}

.nav--text {
    margin: 0 2rem;
}

.icon--left{
    margin-left: auto;
}

.nav--secundary{
    z-index: 20;
    position: absolute;
    top: 5rem;
    left:5rem;
    background-color: white;
    box-shadow: 0 1rem 10rem 10rem #ddd;
    border-radius: 1rem;
}

@media only screen and (min-width: 40em) {
    .nav__settings{
        flex-direction: row;
    }
  }