.dropdown {
    position: relative;
    width: 10rem;
    font-size: 1.8rem;
    text-align: center;
    border-radius: var(--border-sizb-bg);
    box-shadow: 0 0 0.1rem 0.1rem var(--bg-secundary);
    background-color: var(--bg-primary);
    cursor: pointer;
}

.dp-btn{
    padding: 1rem;
}

.dp-content {
    position: absolute;
    padding: 5px;
}
  
  .dp-item {
    padding: 1rem;
    transition: var(--speed-fast);
    background-color: var(--bg-primary);
    cursor: pointer;
  }
  
  .dp-item:hover {
    background-color: blanchedalmond;
  }