.dropdown {
  display: inline-block;
    position: relative;
    min-width: 20rem;
    font-size: 1.8rem;
    text-align: center;
    border-radius: var(--border-sizb-bg);
    box-shadow: 0 0 0.1rem 0.1rem var(--bg-secundary);
    background-color: var(--bg-primary);
    cursor: pointer;
    z-index: 1;
    margin: 2rem
}

.dp-label{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .5em 1.5em;
  border: 1px solid #ccc;
}

.open {
  transform: rotate(90deg);
}

.dp-content {
    position: absolute;
    top: 2rem; 
    padding: 5px;
}
  
  .dp-item {
    padding: 1rem;
    transition: var(--speed-fast);
    background-color: var(--bg-primary);
    cursor: pointer;
  }
  
  .dp-item:hover {
    background-color: blanchedalmond;
  }