.card{
    font-size: 1.4rem;
    height: 6em;
    width: 10em;
    position: relative;
}

.front, 
.back{
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    text-align: center;
    flex-direction: column;
    gap: 0;
    transition: transform 500ms linear;
    border: 0.25rem solid currentColor;
    border-radius: 0.6em;
}

.front {
    cursor: pointer;
    white-space: pre-line;
    transform: perspective(600px) rotateY(0deg)
}

.back {
    transform: perspective(600px) rotateY(180deg)
}

.selected{
    transform: perspective(600px) rotateY(-180deg)
}

.selected-back {
    transform: perspective(600px) rotateY(0deg)
}

.recommended,
.linked,
.optional {
    position: absolute;
    font-weight: 900;
    bottom: 0.5rem;
    width: 5rem;
}

.recommended {
    color: #281E01;
    background-color: #FBC318;
    left: -1.5rem;
    transform: rotate(45deg);
}

.linked {
    color: #000000;
    background-color: #F89B9B;
    right: -1.5rem;
    transform: rotate(-45deg);
}

.optional{
    color: #2b8a3e;
    background-color: #F89B9B;
    right: -1.5rem;
    transform: rotate(-45deg);      
}


@media (max-width: 480px){
    .unit{
        font-size: 1rem;
    }
}