.unit {
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5em;
    white-space: pre-line;
    height: 6em;
    width: 10em;
    overflow: hidden;
    position: relative;
    transition-duration: 300ms;
    transition-timing-function: all ease-out;
}

.unit p {
    margin: 0;
    padding: 0;
}

.unit:hover{
    transform: rotate(-3deg); 
}

.unit:active{
    transform: translateY(-2rem);
}

.unit--linked, .unit--recommended{
    filter: none;
}

.selected{
    box-shadow: 0 0 0.5rem 0.5rem inset var(--bg-accent);
}

.recommended,
.linked,
.optional {
    position: absolute;
    font-weight: 900;
    bottom: 0.5rem;
    width: 5rem;
}

.recommended {
    color: #281E01;
    background-color: #FBC318;
    left: -1.5rem;
    transform: rotate(45deg);
}

.linked {
    color: #000000;
    background-color: #F89B9B;
    right: -1.5rem;
    transform: rotate(-45deg);
}

.optional{
    color: #2b8a3e;
    background-color: #F89B9B;
    right: -1.5rem;
    transform: rotate(-45deg);      
}

.optional__level--1{
    border: dashed #9B59B6;
    color: currentColor;
}

.optional__level--2{
    border: dashed brown;
    color: currentColor;
}

.optional__level--3{
    border: dashed #22b8cf;
    color: currentColor;
}

.optional__level--4{
    border: solid #69db7c;
    color: currentColor;
}

.optional__level--5{
    border: solid #fab005 ;
    color: currentColor ;
}

.optional__level--6{
    border: solid #f06595 ;
    color: currentColor ;
}

.level--1{
    color: blue;
    border: solid blue;
}

.level--2{
    border: dotted black;
}

.level--3{
    color: red;
    border: dashed currentColor;
}

.level--4{
    color: brown;
    border: solid currentColor;
}

.level--5{
    color: #9B59B6 ;
    border: solid currentColor  ;
}

.notice {
    font-size: 1.4rem;
}

@media (max-width: 480px){
    .unit{
        font-size: 1rem;
    }
}