.unit {
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.6em;
    white-space: pre-line;
    height: 7em;
    width: 11em;
    overflow: hidden;
    position: relative;
    transition-property: transform;
    transition-duration:  300ms;
    transition-timing-function: all ease-out;
}

.unit > p {
    margin: 0;
    padding: 0;
}

.unit:hover{
    transform: rotate(-3deg);
}

.unit:active,.unit:focus{
    transform: translateY(-2rem);
}

.unit--linked, .unit--recommended{
    filter: none;
}

.selected{
    box-shadow: 0 0.3rem 1em 0.1rem currentColor;
}

.recommended,
.linked,
.optional {
    position: absolute;
    font-weight: 900;
    bottom: 0.5rem;
    width: 5rem;
}

.recommended {
    color: #281E01;
    background-color: #FBC318;
    left: -1.5rem;
    transform: rotate(45deg);
}

.linked {
    color: #000000;
    background-color: #F89B9B;
    right: -1.5rem;
    transform: rotate(-45deg);
}

.optional{
    color: #2b8a3e;
    background-color: #F89B9B;
    right: -1.5rem;
    transform: rotate(-45deg);      
}

.optional__level--1{
    color: #9B59B6;
}

.optional__level--2{
    color: brown;
}

.optional__level--3{
    color: #22b8cf;
}

.optional__level--4{
    color: #69db7c;
}

.optional__level--5{
    color: #fab005  ;
}

.optional__level--6{
    color: #f06595 ;
}

.level--1{
    color: blue;
}


.level--3{
    color: red;
}

.level--4{
    color: brown;
}

.level--5{
    color: #9B59B6 ;
}

.notice {
    font-size: 1.4rem;
}

@media (max-width: 480px){
    .unit{
        font-size: 1rem;
    }
}