.info--modal{
    position: absolute;
    right: 8%;
    left: 8%;
    width: 84vw;
    height: 84vh;
    z-index: 1;
    font-size: 1.6rem;
    font-weight: 900;
    background-color: white;
    padding: 4rem;
    box-shadow: -5px 5px 10px 1px gray;
}

.simboly {
    flex-direction: column;
    padding: 1rem;
    border: 0.5rem dashed red;
    border-radius: var(--border-radious);
}

.content--info{
    flex-direction: column;
}

.contents--levels{
   padding: 1rem; 
}

.line {
    position: relative;
    bottom: 0.5rem;
    display: inline-block;
    border-top: solid currentColor;
    width: 8rem;
}

.content--info{
    border: 0.4rem solid black;
    border-radius: 1rem;
    padding: 1rem;
}

.electives{
    border: 0.5rem solid green;
    border-radius: 1rem;
    padding: 1rem;
}

.electives > p {
    color: green;
}

.modal-optional{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 0.5rem dashed red;
    border-radius: 1rem;
}