.info--modal{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-color:rgba(0, 0, 0, 0.5);
}

.info--modal__body {
    position: fixed;
    position: fixed;
    right: 4rem;
    left: 4rem;
    top: 4rem;
    bottom: 4rem;
    font-size: 1.6rem;
    font-weight: 900;
    background-color: white;
    padding: 8rem;
    border-radius: var(--border-radious);
    overflow: auto;
}

.simboly {
    flex-direction: column;
    padding: 1rem;
    border: 0.5rem dashed red;
    border-radius: var(--border-radious);
}

.content--info{
    flex-direction: column;
}

.contents--levels{
   padding: 1rem; 
}

.line {
    position: relative;
    bottom: 0.5rem;
    display: inline-block;
    border-top: solid currentColor;
    width: 8rem;
}

.content--info{
    border: 0.4rem solid black;
    border-radius: 1rem;
    padding: 1rem;
}

.electives{
    border: 0.5rem solid green;
    border-radius: 1rem;
    padding: 1rem;
}

.electives > p {
    color: green;
}

.modal-optional{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 0.5rem dashed red;
    border-radius: 1rem;
}