.header {
    font-size: 2.4rem;
}

.navbar {
    width: 80%;
    max-width: 108rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar--active {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.nav--item {
    height: 6.4rem;
    text-decoration: none;
}