.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 10vh;
    background-color: #333;
}

.logos {
    width: 64px;
    height: 64px;
}

.logo--ipn {
    height: 100%;
}

.navbar--list {
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    gap: 1rem;
}

.explain{
    
}