*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    --bg-primary:#f8f9fa;
    --bg-secundary: #474a4d;
    --bg-accent: #C9A675;

    --text-color:#212529;
    --text-color-secundary: #dee2e6;
    --border-size: 0.5rem;
    --border-size-bg: 1rem;
    --border-radious: 1rem;
    --speed-normal: 500ms;
    --speed-fast: 250ms;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: var(--bg-primary);
}

ul, li {
    list-style: none;
}

p {
    text-align: center;
}
.container {
    position: relative;
    padding: 1rem;
}

.flex__container--center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.grid__container--center {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.parent--space {
    width: 100%;
    height: 100%;
}

.icons--default{
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.info--icon,
.pdf--icon:hover,
.close--icon {
    transition: transform 300ms;
}

.info--icon,
.close--icon {
    position: absolute;
    right: 1rem;
}

.close--icon{
    top: 1rem;
}

.info--icon:hover,
.pdf--icon:hover,
.close--icon:hover {
    transform: scale(1.4);
}

.optional-1{
    color: #9B59B6;
}

.optional-2{
    color: brown;
}

.optional-3{
    color: #22b8cf;
}

.optional-4{
    color: #69db7c;
}

.optional-5{
    color: #fab005  ;
}

.optional-6{
    color: #f06595 ;
}

.level-1{
    color: blue;
}

.level-3{
    color: red;
}

.level-4{
    color: brown;
}

.level-5{
    color: #9B59B6 ;
}