/* App mobile design approach */

:root {
    box-sizing: border-box;
    font-size: 62.5%;
    --bg-primary:#f8f9fa;
    --bg-secundary: #474a4d;
    --bg-accent: #ced4da;
    
    --text-color:#212529;
    --text-color-secundary: #dee2e6;
    --border-size: 0.5rem;
    --border-size-bg: 1rem;
    --border-radious: 1rem;
    --speed-normal: 500ms;
    --speed-fast: 250ms;
    --min-width: 32rem;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}


body {
    font-family: 'Roboto', sans-serif, monospace;
    font-weight: 700;
    background-color: var(--bg-primary);
    min-width: 320px;
    font-size: 1.2rem;
    font-weight: 500;
}

ul, li {
    list-style: none;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
p {
    text-align: center;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    align-items: center;
}

.flex-container--center {
    justify-content: center;
}

.grid-container--center {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.group--button {
    margin-top:2rem;
    display: flex;
    justify-content: space-evenly;
}

.btn {
    height: 6.4rem;
    border: none;
    border-radius: var(--border-size);
    background-color: white;
    padding: 0 1rem;
}

.btn:hover {
    background-color: #aaa;
}

.parent--space {
    width: 100%;
    height: 100%;
}

.icon--container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    padding: 0.8rem;
}

.ic-s{
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
}

.ml{
    margin-left: 1rem;
}

.icon--button {
    border-radius: 50%;
    background-color: var(--bg-accent);
}

.flip {
    transform: rotate(90deg);
}

.units-grid{
    grid-template-columns: 1fr;
    max-width: 130rem;
}

.icon--pdf {
    width: 6rem;
    height: 6rem;
}

.icon--pdf{
    transition: transform 300ms;
}

.icon--pdf:hover,
.icon--pdf:active {
    transform: scale(1.3);
}

.optional-1{
    color: #9B59B6;
}

.optional-2{
    color: brown;
}

.optional-3{
    color: #22b8cf;
}

.optional-4{
    color: #69db7c;
}

.optional-5{
    color: #fab005  ;
}

.optional-6{
    color: #f06595 ;
}

.level-1{
    color: blue;
}

.level-3{
    color: red;
}

.level-4{
    color: brown;
}

.level-5{
    color: #9B59B6 ;
}

.is--close{
    display: none !important;
}

.main {
    width: 100%;
}

.application {
    min-height: 100vh;
    max-width: 120rem;
    align-items: center;
}
/* Units style render*/

.card{
    height: 6em;
    width: 10em;
    position: relative;
}

.front, 
.back{
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    text-align: center;
    flex-direction: column;
    gap: 0;
    border: 0.25rem solid currentColor;
    border-radius: calc( var(--border-radious)* 0.6);
    transition: transform var(--speed-normal) linear;
}

.front {
    padding: 0 0.2rem;
    cursor: pointer;
    transform: perspective(600px) rotateY(0deg)
}

.front::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   height: 0;
    background-color: currentColor;
    opacity: 0.2;
    z-index: -1;
    border-radius: 0 0 50% 50%;
    overflow: hidden;
    transition: height var(--speed-normal);
}

.front:hover::before {
    height: 100%;
}

.back {
    transform: perspective(600px) rotateY(180deg)
}

.selected{
    transform: perspective(600px) rotateY(-180deg)
}

.selected-back {
    transform: perspective(600px) rotateY(0deg)
}

.recommended,
.linked,
.optional {
    position: absolute;
    font-weight: 900;
    bottom: 0.5rem;
    width: 6rem;
}

.recommended {
    color: #281E01;
    background-color: #FBC318;
    left: -1.5rem;
    transform: rotate(45deg);
}

.linked {
    color: #000000;
    background-color: #F89B9B;
    right: -1.5rem;
    transform: rotate(-45deg);
}

.optional{
    color: #2b8a3e;
    background-color: #F89B9B;
    right: -1.5rem;
    transform: rotate(-45deg);      
}

  /* Number Indicating group of units */

.group--number{
    font-size: 3rem;
    box-shadow: 5px 0 5px -2px #888;
}

/* Info Modal */

.info--modal{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color:rgba(0, 0, 0, 0.5);
}

.info--modal__body {
    position: fixed;
    right: 10vw;
    left: 10vw;
    top: 10vh;
    bottom: 10vh;
    background-color: white;
    padding: 1rem;
    border-radius: var(--border-radious);
}

/* Options bar */ 

.options--bar {
    justify-content: space-around;
    position: sticky;
    background-color: #111111;
    color: white;
    bottom: 0;
    padding: 0.5rem 0;
}

/* Settings of Units */

.settings {
    padding: 1rem;
    max-width: 40rem;
    justify-content: space-around;
}

.settings > div{
    align-self: auto;
}

/* .btn--settings {

} */

.sidebar--nav {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.sidebar--nav--item {
    background-color: green;
}

.sidebar--container{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 25rem;
    background-color:white;
    box-shadow: 0 0 1rem 1rem #aaa;

    border-radius: var(--border-size-bg);
}


.sidebar--container-l{
    left: -100%;
    transition: left var(--speed-normal);
}

.sidebar--container-l.active {
    left: 0;
}

.sidebar--container-r{
    right: -100%;
    transition: right var(--speed-normal);
}

.sidebar--container-r.active {
    right: 0;
}

.icon--left{
    margin-left: auto;
}

.icon--right{
    margin-right: auto;
}

.waiting-room{
    width: 100%;
}

.waiting-text{
    color: #555;
    text-align: center;
    font-size: 6.4rem;
}


.tab--container {
    margin: 1rem 0;
}

.tab--header {
    justify-content: space-between;
    margin-left:2rem;
    align-self: start;
    gap:0;
}

.tab--options {
    justify-content: space-evenly;
}

.tab-header--item {
    cursor: pointer;
    width: 10rem;
    height: 5rem;
    background-color: #ddd;
    border-radius: var(--border-size);
}

.tab-header--item.active {
    background-color: var(--bg-primary);
    border-top: 0.3rem solid blue;
    transform: scale(1.1);
}

.unit--skeleton {
    border: 0.25rem solid #aaa;
    flex-direction: column;
    border-radius: var(--border-radious);
}

.skeleton--text-p {
    width: 75%;
    height: 20%;
    border-radius: var(--border-radious);
    background-color: #aaa;
    /* margin-bottom: 1rem; */
}
.skeleton--text-s {
    width: 50%;
    height: 15%;
    border-radius: var(--border-radious);
    background-color: #aaa;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        /* backgorund-color: rgb(163, 184, 194) */
        background-color: #666;
    }
    100% {
        backgorund-color:#ccc;
    }
}


/* Desktop queries */


@media only screen and (min-width: 40em) {
    .nav__settings{
        flex-direction: row;
    }
  }