*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    --bg-primary:#EAEAEA;
    --bg-secundary: #474a4d;
    --bg-accent: #C9A675;

    --text-color:#702F4E;
    --border-size: 4px;
    --border-radious: 8px;
    --speed: 500ms;

    --level-1: blue;
    --level-2: black;
    --level-3: red;
    --level-4: brown;
    --level-5: #9B59B6;

    --l-1-bd: var(--border-size) var(--level-1) solid;
    --l-2-bd: var(--border-size) var(--level-2) dotted;
    --l-3-bd: var(--border-size) var(--level-3) dashed;
    --l-4-bd: var(--border-size) var(--level-4) solid;
    --l-5-bd: var(--border-size) var(--level-5) solid;
}

body {
    background: var(--bg-primary);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

ul, ol {
    list-style: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

img {
    object-fit: contain;
}