.card{
    font-size: 1.4rem;
    height: 6em;
    width: 10em;
    position: relative;
}

.front, 
.back{
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    text-align: center;
    flex-direction: column;
    gap: 0;
    transition: transform 500ms linear;
    border: 0.25rem solid currentColor;
    border-radius: 0.6em;
}

.front {
    cursor: pointer;
    white-space: pre-line;
    transform: perspective(600px) rotateY(0deg)
}

.back {
    transform: perspective(600px) rotateY(180deg)
}

.selected{
    transform: perspective(600px) rotateY(-180deg)
}

.selected-back {
    transform: perspective(600px) rotateY(0deg)
}

.recommended,
.linked,
.optional {
    position: absolute;
    font-weight: 900;
    bottom: 0.5rem;
    width: 6rem;
}

.recommended {
    color: #281E01;
    background-color: #FBC318;
    left: -1.5rem;
    transform: rotate(45deg);
}

.linked {
    color: #000000;
    background-color: #F89B9B;
    right: -1.5rem;
    transform: rotate(-45deg);
}

.optional{
    color: #2b8a3e;
    background-color: #F89B9B;
    right: -1.5rem;
    transform: rotate(-45deg);      
}

.front::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}
  
.front:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
.front::before {
    content: "";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: var(--bg-accent);
    transition: transform .3s ease;
    z-index: -1;
  }

@media (max-width: 480px){
    .unit{
        font-size: 1rem;
    }
}