.semester {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.2rem;
    align-items: center;
    flex: 1 0 auto;
}

.semester--unit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2em;
    font-size: 3em;
}