.group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.group--number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 3rem;
    border-right: 2px black dotted;
}