.unit {
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5em;
    white-space: pre-line;
    height: 6em;
    width: 10em;
    overflow: hidden;
    position: relative;
}

.unit p {
    margin: 0;
    padding: 0;
}

.unit:hover{
    transition-duration: 300ms;
    transform: rotate(-3deg); 
}

.unit--linked, .unit--recommended{
    filter: none;
}


.recommended,
.linked {
    position: absolute;
    font-weight: 900;
    bottom: 0.5rem;
    width: 5rem;
}

.recommended {
    color: #281E01;
    background-color: #FBC318;
    left: -1.5rem;
    transform: rotate(45deg);
}

.linked {
    color: #000000;
    background-color: #F89B9B;
    right: -1.5rem;
    transform: rotate(-45deg);
}

.level--1{
    border: solid blue;
    color: blue;
}

.level--2{
    border: dotted black;
}

.level--3{
    border: dashed red;
    color: red;
}

.level--4{
    border: solid brown;
    color: brown;
}

.level--5{
    border: solid #9B59B6 ;
    color: #9B59B6 ;
}

@media (max-width: 480px){
    .unit{
        font-size: 1rem;
    }
}