.unit {
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5em;
    width: 9em;
    height: 5em;
    white-space: pre-line;
    margin-bottom: 0;
    padding: 0 0;
    border: 0.2rem;
    margin-right: 1em;
    margin-bottom: 0.7em;
}

.unit--selected {
    transition-duration: 300ms;
    filter: blur(2px);
}

.unit--linked {
    box-shadow: 0 0 5px black inset;
}

.unit--recommended {
    box-shadow: 0 0 5px red inset;
}

.unit:hover{
    transition-duration: 300ms;
    transform: rotate(-3deg); 
}

.unit p {
    margin: 0;
    padding: 0;
}



.level--1{
    border: solid blue;
    color: blue;
}

.level--2{
    border: dotted black;
}

.level--3{
    border: dashed red;
    color: red;
}

.level--4{
    border: solid brown;
    color: brown;
}

.level--5{
    border: solid #9B59B6 ;
    color: #9B59B6 ;
}