.unit {
    text-align: center;
    align-items: center;
    border-radius: 10px;
    width: 125px;
    height: 5rem;
    white-space: pre-line;
    margin-bottom: 0;
    padding: 0 0;
    border: 0.2rem;
    margin-right: 10px;
}

.unit p {
    margin: 0;
    padding: 0;
}

.level--1{
    border: solid blue;
    color: blue;
}

.level--2{
    border: dotted black;
}

.level--3{
    border: dashed red;
    color: red;
}

.level--4{
    border: solid brown;
    color: brown;
}

.level--5{
    border: solid #9B59B6 ;
    color: #9B59B6 ;
}