.unit--skeleton {
    border: 0.25rem solid #aaa;
    flex-direction: column;
    border-radius: var(--border-radious);
}

.skeleton--text-p {
    width: 75%;
    height: 20%;
    border-radius: var(--border-radious);
    background-color: #aaa;
    /* margin-bottom: 1rem; */
}
.skeleton--text-s {
    width: 50%;
    height: 15%;
    border-radius: var(--border-radious);
    background-color: #aaa;
}


.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        /* backgorund-color: rgb(163, 184, 194) */
        background-color: #666;
    }
    100% {
        backgorund-color:#ccc;
    }
}

